@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

.choices {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.options {
    margin: 30px;
    padding: 20px;
    border: 2px dashed #07b5ed;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background: beige;
    max-width: 300px;
}

